{% extends "blog/base.html" %}
{% load static %}
{% block content %}
    <div class="form_section" style="font-family: Gotham">
        <div class="contact_section_2" style="background: linear-gradient(to bottom, #ff9900 0%, #ff6666 100%);">
            <div class="row" style="padding: 7.5% 30%">
                <div class="mail_section_1">
                    <form action="{% url 'blog-donp' %}" method="POST">
                        <h1 class="contact_taital" align="center">Donation Process Form</h1>  
                        <hr>
                        <input type="text" class="mail_text_1" name="rid" placeholder= "Request id" required />
                        <input type="text" class="mail_text_1" name="location" placeholder="Location" required style="margin-bottom: 20px;"/>
                        <div align="center" style="margin-bottom: 20px;">
                            <span style="color: #0f0f0f; font-size: 22px;"><b>Donation type: </b>&nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" name="radio" value="direct_donation">&nbsp; Direct donation &nbsp; &nbsp;&nbsp;&nbsp;
                            <input type="radio" name="radio" value="food_bank">&nbsp; Food Bank </span>
                        </div>
                        <center><button onclick="" class="read_bt"><a>Submit</a></button></center>    
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}