{% extends "blog/base.html" %}
{% load static %}
{% block content %}
    <style>
        table {
            border: 4px solid black;
            border-radius: 5px;
        }

        th, td {
            border: solid black;
            padding: 10px 30px;
            text-align: center;
            color: Red;
            font-size: 22px;
        }
    </style>
	<div class="about_section layout_padding" style="font-family: Gotham; background-color:lightgray; font-size: 20px;">
        <div class="row" style="padding: 1% 30%;">
            <div class="mail_section_1">
                <form action="{% url 'blog-status' %}" method="POST">
                    <input type="text" class="mail_text_1" placeholder="Request Id" name="rno" required style="margin-bottom: 20px;"><br>
                    <center><button class="read_bt" type="Submit"><a>Submit</a></button></center>
                </form>
                
            </div>
        </div>
        <table border="1px" align="center">
            <tr>
                <th>Donor Name</th>
                <th>No. of food Items</th>
                <th>Quantity</th>
                <th>Phone No.</th>
                <th>Request Time</th>
                <th>Location</th>
                <th>Status</th>
            </tr>
            {% for rq in rqs %}
                    <tr>
                        <td>{{rq.did.user.first_name}}</td>
                        <td>{{rq.food_item}}</td>
                        <td>{{rq.quantity}}</td>
                        <td>{{rq.phone}}</td>
                        <td>{{rq.rtime}}</td>
                        <td>{{rq.location}}</td>
                        <td>{{rq.sid.description}}</td>
                    </tr>
            {% endfor %}
        </table>
    </div>
{% endblock content %}